.Cart
  .CartContainer
    %h3.CartMainTitle 買い物かごの中身
    .CartCollection
      - @products.each do |product|
        .CartBox
          .CartName
            .CartArtist
              #{product.artist}
            .CartTitle
              #{product.title}
          .CartPriceBox
            .CartPrice
              #{product.price}円
              = link_to product_delete_in_baskets_path(product), method: :post, data: {confirm: '削除してもいいですか？'} do
                %span.basket__delete
                  ✕
      .TotalPrice
        合計金額 #{@total_price} 円