.Cart
  .CartContainer
    %h3.CartMainTitle 買い物かごの中身
    .CartCollection
      - @products.each do |product|
        .CartBox
          .CartName
            .CartArtist
              #{product.artist}
            .CartTitle
              #{product.title}
          .CartPriceBox
            .CartPrice
              #{product.price}円
              = link_to product_delete_in_baskets_path(product), method: :post, data: {confirm: '削除してもいいですか？'} do
                %span.basket__delete
                  ✕
      .TotalPriceBox
        .TotalPrice
          .a 合計金額
          .i #{@total_price} 
          .yen 円
    .ChargesBox
      = form_tag charge_path do
        - @products.each do |p|
          = hidden_field_tag 'product_ids[]', p.id
        %script.stripe-button{"src": "https://checkout.stripe.com/checkout.js", "data": { "key": ENV['STRIPE_PUBLISHABLE_KEY'], "description": "payment", "amount": @total_price, "locale": "auto", "currency": "jpy"}}
    .BackLinkBox
      = link_to 'トップへ戻る', root_path, class: "BackLink"
