.SessionsNew
  .LoginBox
    .RegistrationsLinkBox
      %p.RegistrationsTitle アカウントをお持ちでない方はこちら
      = link_to "#", class: "NewRegistrationBtn" do
        新規会員登録
    .LogInForm
      .LogInFormBox
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .FormBox
            = f.email_field :email, placeholder: "メールアドレス", class: "EmailForm"
          .FormBox
            = f.password_field :password, placeholder: "パスワード", class: "EmailForm"
          = f.submit "ログイン", class:"LogInBtn"
    = link_to "トップへ戻る", root_path
