.NewArrival
  .News
    .NewTitle 新着情報一覧
    .NewsBox
      - @messages.each do |message|
        = message.created_at.strftime('%Y/%m/%d')
        = message.content
  .NewArrivalList
    .NewTitle 商品一覧
    .ProductIndexBox
      - @products.each do |product|
        = link_to product_path(product.id) do
          .Product
            = image_tag product.images.first.image_url, class: 'list_image', width: 150, height: 150
            .artist
              = product.artist
            .title
              = product.title
            .price
              = product.price.to_s(:delimited)
              円