.NewFormWrapper
  .NewFormBox
    = form_with model: [:admins, @product], local: true, class: "ProductForm" do |f|
      #image-box-1{class:"#{@images.last.id}"}
        - @images.each do |img|
          .item-image{id:img.id}
            = image_tag(img.image.url)
            .item-image__operetion
              .item-image__operetion--edit__delete__hidden 削除
        %label.img-label{for: "img-file"}
          = icon('fas', 'camera', class: 'UploadCamera')
          .displayhide
            #image-box__container{class:"item-num-#{@images.length}"}
              #append-js-edit
                = f.fields_for :images do |image|
                  .js-file_group{"data-index" => "#{image.index}"}
                    = image.file_field :image, type: 'file', value:"#{image.object.id}",style: "",  id:"img-file", class:'js-file-edit',name: "product[images_attributes][#{@product.images.count}][image]", data:{index:""}
      .InputBox
        .NewLabelBox
          %span アーティスト
        .FormField
          = f.text_field :artist, class: "NewProductForm"
        .NewLabelBox
          %span タイトル
        .FormField
          = f.text_field :title, class: "NewProductForm"
        .NewLabelBox
          %span レーベル
        .FormField
          = f.text_field :label, class: "NewProductForm"
        .NewLabelBox
          %span 発行年
        .FormField
          = f.number_field :year, class: "NewProductForm"
        .NewLabelBox
          %span フォーマット
        .FormField
          = f.text_field :format, class: "NewProductForm"
        .NewLabelBox
          %span 製造国
        .FormField
          = f.text_field :made_in, class: "NewProductForm"
        .NewLabelBox
          %span レコードコンディション
        .FormField
          = f.text_field :vinyl, class: "NewProductForm"
        .NewLabelBox
          %span ジャケットコンディション
        .FormField
          = f.text_field :jacket, class: "NewProductForm"
        .NewLabelBox
          %span 価格（税込）
        .FormField
          = f.number_field :price, class: "NewProductForm"
        .NewLabelBox
          %span コメント、トラックリスト
        .FormField
          = f.text_area :comment_track_list, class: "NewProductText"
        .FormBtn
          = f.submit class: "NewProductSubmit"