.NewFormWrapper
  .FormHeader
  .NewFormBox
    = form_with model: [:admins, @product], local: true, class: "ProductForm" do |f|
      .InputBox
        .NewLabelBox
          %span アーティスト
        .FormField
          = f.text_field :artist, class: "NewProductForm"
        .NewLabelBox
          %span タイトル
        .FormField
          = f.text_field :title, class: "NewProductForm"
        .NewLabelBox
          %span レーベル
        .FormField
          = f.text_field :label, class: "NewProductForm"
        .NewLabelBox
          %span 発行年
        .FormField
          = f.number_field :year, class: "NewProductForm"
        .NewLabelBox
          %span フォーマット
        .FormField
          = f.text_field :format, class: "NewProductForm"
        .NewLabelBox
          %span 製造国
        .FormField
          = f.text_field :made_in, class: "NewProductForm"
        .NewLabelBox
          %span レコードコンディション
        .FormField
          = f.text_field :vinyl, class: "NewProductForm"
        .NewLabelBox
          %span ジャケットコンディション
        .FormField
          = f.text_field :jacket, class: "NewProductForm"
        .NewLabelBox
          %span 価格（税込）
        .FormField
          = f.number_field :year, class: "NewProductForm"
        .NewLabelBox
          %span コメント、トラックリスト
        .FormField
          = f.text_area :comment_track_list, class: "NewProductText"
        .FormBtn
          = f.submit class: "NewProductSubmit"