.Header
  .TopLink
    - if current_user.present?
      = link_to 'FukinotoRecords', root_path
    - elsif current_admin.present?
      = link_to 'FukinotoAdmin', admins_root_path
    - else
      = link_to 'FukinotoRecords', root_path
  .HeaderMenu
    .HeaderCart
      - if current_user.present?
        = link_to basket_path do
          = icon('fa', 'shopping-cart')
          Cart
      - elsif current_admin.present?
        = link_to '管理者用ページ', admins_root_path
      - else
        = link_to '新規会員登録',new_user_registration_path
    .HeaderSession
      - if current_user.present?
        = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "HeaderLogOut"
      - elsif current_admin.present?
        = link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "HeaderLogOut"
      - else
        = link_to "ユーザーログイン", new_user_session_path
        = link_to "管理者ログイン", new_admin_session_path