.NewArrival
  .News
    What's News
    .NewsBox
      7/22 ふきのとう入荷しました！新着情報実装予定です！！
  .NewArrivalList
    - @products.each do |product|
      = link_to product_path(product.id) do
        .Product
          = image_tag product.images.first.image_url, class: 'list_image', width: 150, height: 150
          .artist
            = product.artist
          .title
            = product.title
          .price
            = product.price