.ShowProduct
  .Image-Price-Box
    .photo__box
      %ul.photo__innner
        %li
          = image_tag @product.images.first.image.url, class: "main__image"
          %ul
            - @product.images.each do |image|
              %li
                = image_tag image.image.url, class: "image__list"
    .ShoppingBox
      .ArtistTitleBox
        Artist
        .ArtistLabel
          = @product.artist
        Title
        .TitleLabel
          = @product.title
      .PriceBox
        .PriceLabel PRICE :
        .Price
          = @product.price.to_s(:delimited)
          円
        .WithTax
          (税込)
      -if admin_signed_in? && current_admin.id == @product.admin_id
        .CartBtn
          = link_to "編集", root_path
        .CartBtn
          = link_to "削除", root_path
      -else
        .CartBtn
          = link_to product_add_to_baskets_path(@product), method: :post do
            カートに入れる 
      .AuditionBox
        試聴はここをクリック(未実装)
  .ProductBox
    .InfoBox
      .category
        .label GENRE :
      .category
        .label LABEL :
        = @product.label
      .category
        .label YEAR :
        = @product.year
      .category
        .label FORMAT :
        = @product.format
      .category
        .label MADE IN :
        = @product.made_in
    .ConditionBox
      .Condition CONDITION
      .category
        .conditionlabel VINYL :
        = @product.vinyl
      .category
        .conditionlabel COVER :
        = @product.jacket
  .comment
    .label COMMENT & TRACK LIST
    = @product.comment_track_list