.SideBar
  .Category Category
  %ul
    %li
      = link_to 'NEW ARRIVAL', '#', class: 'SideBarGenre'
    %li
      = link_to 'JAZZ', '#', class: 'SideBarGenre'
    %li
      = link_to 'FUNK', '#', class: 'SideBarGenre'
    %li
      = link_to 'SOUL', '#', class: 'SideBarGenre'
    %li
      = link_to 'DISCO', '#', class: 'SideBarGenre'
    %li
      = link_to 'HIPHOP', '#', class: 'SideBarGenre'
    %li
      = link_to 'HOUSE', '#', class: 'SideBarGenre'
    %li
      = link_to 'OTHER', '#', class: 'SideBarGenre'
